@charset "UTF-8";

/* Typography */
.outline {
  color: #0000;
  -webkit-text-stroke: 1.5px #053651;
}

/* loading */
.loading .background .position .inner_text {
  font-size: 32px;
  line-height: 52px;
}

/* header */
.header {
  position: fixed;
  height: 60px;
}

/* main */
.landing .background {
  width: 163vw;
  height: 163vh;
  left: -24vw;
  top: 53%;
  transform: translateY(-50%) rotateZ(15deg);
}

.landing .deco {
  width: 80vw;
  height: 125vw;
  right: -7vw;
  top: 25%;
  transform: translateY(-50%);
}

.landing .landing_info {
  left: 32px;
  bottom: 48px;
  font-size: 16px;
}

.landing .landing_info .desktop_landing_info {
  display: none;
}

.landing .landing_info .time {
  font-size: 13px;
}

.landing .landing_title {
  display: none;
}

.landing .GJx2_logo {
  display: inline-block;
  position: absolute;
  transform: rotateZ(-90deg);
  top: 60%;
  right: calc(32px - 24px);
  color: #0000;
  -webkit-text-stroke: 1.5px #053651;
  font-family: Pangram;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}
