@charset "UTF-8";

/* import fonts */
@font-face {font-family: 'KoreanCUBEG'; src: url("../../fonts/a큐브G.ttf") format("truetype");}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundL.ttf") format("truetype"); font-weight: 200;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundR.ttf") format("truetype"); font-weight: 500;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundB.ttf") format("truetype"); font-weight: 700;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundEB.ttf") format("truetype"); font-weight: 900;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-ExtraLight.otf"); font-weight: 200;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Regular.otf"); font-weight: 500;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Black.otf"); font-weight: 900;}

/* header */
#header {
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
}

#header .wrapper_full {
  position: relative;
  width: calc(100% - 64px);
  height: 100%;
  margin: 0 auto;
}

#header h1 {
  float: left;
  color: #053651;
  font-family: KoreanCUBEG;
  font-size: 20px;
  line-height: 60px;
}

#header h1 .title_soon {
  color: #0000;
  -webkit-text-stroke: 1px #053651;
}

#header .btn_nav {
  position: relative;
  float: right;
  width: 24px;
  height: 24px;
  margin: 18px -8px 18px 0;
}

#header .btn_nav .btn_nav_comp {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  background-color: #053651;
}

#header .btn_nav .btn_nav_comp_upper {
  top: 36%;
  transform: translateX(-50%) translateY(-50%);
}

#header .btn_nav .btn_nav_comp_lower {
  bottom: 36%;
  transform: translateX(-50%) translateY(50%);
}

/* landing */
#landing {
  z-index: -99999;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../../img/landing_20-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
