@charset "UTF-8";

/* import fonts */
@font-face {font-family: 'KoreanCUBEG'; src: url("../../fonts/a큐브G.ttf") format("truetype");}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundL.ttf") format("truetype"); font-weight: 200;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundR.ttf") format("truetype"); font-weight: 500;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundB.ttf") format("truetype"); font-weight: 700;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundEB.ttf") format("truetype"); font-weight: 900;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-ExtraLight.otf"); font-weight: 200;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Regular.otf"); font-weight: 500;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Black.otf"); font-weight: 900;}

/* typography */
.GJx2_logo {
  color: #0000;
  font-family: Pangram;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
  -webkit-text-stroke: 1.5px #053651;
}

.typo_h3 {
  font-family: Pangram;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 32px;
  color: #EB5C3D
}

.typo_body {
  font-size: 16px;
  line-height: 26px;
  color: #053651;
}

.typo_lable {
  opacity: 0.5;
  font-size: 13px;
  line-height: 16px;
}

.outline {
  color: #0000;
  -webkit-text-stroke: 1px #EB5C3D;
}

/* wrapper */
.wrapper_full {
  position: relative;
  width: calc(100% - 64px);
  height: 100%;
  margin: 0 auto;
}

/* icons */
.icn_more {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/sys/icn_more.svg);
}

/* decorations */
.deco_cwd {
  position: absolute;
  background-image: url(../../img/shape_Circle_w_Dots.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_bmc {
  position: absolute;
  background-image: url(../../img/shape_Macaronni_Blue.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_omc {
  position: absolute;
  background-image: url(../../img/shape_Macaronni_Orange.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_bns {
  position: absolute;
  background-image: url(../../img/shape_uneclips.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_ox {
  position: absolute;
  background-image: url(../../img/shape_X_Orange.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_bx {
  position: absolute;
  background-image: url(../../img/shape_X_Blue.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.deco_tnd {
  position: absolute;
  background-image: url(../../img/shape_Triangle_w_Dots.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* navigation */
#navigation .nav {
  z-index: 9998;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: #EB5C3D;
  color: #fff;
  transition: 0.5s;
}

#navigation .nav-active {
  width: 100vw;
}

#navigation .nav nav {
  position: absolute;
  top: 176px;
}

#navigation .nav nav .nav_item {
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: Pangram;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #fff0;
  -webkit-text-stroke: 1.5px #ffff;
}

#navigation .nav nav .nav_item_s {
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: Pangram;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #fff;
}

#navigation .nav nav .nav_select {
  color: #ffff;
  -webkit-text-stroke: 1.5px #fff0;
}

/* header */
.bg_on {
  background-color: #fff;
}

#header {
  z-index: 9999;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
}

#background {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

#header h1 {
  float: left;
  color: #053651;
  font-family: KoreanCUBEG;
  font-size: 20px;
  line-height: 60px;
  transition: 0.5s;
}

#header h1 .title_soon {
  color: #0000;
  -webkit-text-stroke: 1px #053651;
  transition: 0.5s;
}

#header .btn_nav {
  position: relative;
  float: right;
  width: 24px;
  height: 24px;
  margin: 18px -8px 18px 0;
}

#header .btn_nav .btn_nav_comp {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  background-color: #053651;
}

#header .btn_nav .btn_nav_comp_upper {
  top: 36%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}

#header .btn_nav .btn_nav_comp_lower {
  bottom: 36%;
  transform: translateX(-50%) translateY(50%);
  transition: 0.5s;
}

#header .nav-active h1 {
  color: #fff;
}

#header .nav-active h1 .title_soon {
  color: #0000;
  -webkit-text-stroke: 1px #fff;
}

#header .nav-active .btn_nav .btn_nav_comp {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  background-color: #fff;
}

#header .nav-active .btn_nav .btn_nav_comp_upper {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}

#header .nav-active .btn_nav .btn_nav_comp_lower {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(45deg);
}

/* landing */
#landing .landing_spacer {
  z-index: -2;
  position: relative;
  width: 100%;
  height: 100vh;
}

#landing .landing {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/landing_20-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#landing .landing .decorations {
  z-index: -50;
  position: relative;
  margin-left: -32px;
  width: calc(100% + 64px);
  height: 100%;
}

#landing .landing .decorations .pos_cwd {
  left: 85%;
  top: 77%;
  width: 9.375%;
  height: 13.34%;
  transform: translateX(-50%) translateY(-50%) rotateZ(30deg);
}

#landing .landing .decorations .pos_bmc {
  left: 72%;
  top: 70%;
}

#landing .landing .decorations .pos_omc {
  left: 58%;
  top: 15%;
  width: 10.1%;
  height: 4.9%;
  transform: translateX(-50%) translateY(-50%) rotateZ(15deg);
}

#landing .landing .decorations .pos_bns {
  left: 75%;
  top: 30%;
  width: 24.5%;
  height: 15.2%;
  transform: translateX(-50%) translateY(-50%) rotateZ(5deg);
}

#landing .landing .decorations .pos_bx {
  width: 4.8%;
  height: 2.7%;
  width: 13.9%;
  height: 8.4%;
  transform: translateX(-50%) translateY(-50%) rotateZ(5deg);
}

#landing .landing .decorations .pos_ox1 {
  left: 75%;
  top: 19%;
  width: 4%;
  height: 2.2%;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#landing .landing .decorations .pos_ox2 {
  left: 3%;
  top: 43%;
  width: 4%;
  height: 2.2%;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#landing .landing .decorations .pos_bx {
  left: 12%;
  top: 36%;
  width: 4.8%;
  height: 2.7%;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#landing .landing .GJx2_logo {
  display: inline-block;
  position: absolute;
  right: calc((-67.31px + 24px) / 2);
  bottom: 36%;
  transform: rotateZ(-90deg);
}

#landing .landing .landing_info {
  position: absolute;
  bottom: 60px;
  font-weight: 900;
  color: #053651
}

#landing .landing .landing_info .typo_body {
  line-height: 22px;
  margin-bottom: 0px;
}

#landing .landing .icn_more {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}

/* intro */
#intro {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

#intro .spacer_top {
  position: relative;
  width: calc(100% +64px);
  height: calc(100vw * 0.45);
}

#intro .spacer_top .pos_tnd {
  left: 20%;
  top: 72%;
  width: 30px;
  height: 32px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#intro .spacer_top .pos_omc {
  left: 75%;
  top: 59%;
  width: 57px;
  height: 48px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#intro .spacer_top .pos_bx {
  left: 95%;
  top: 95%;
  width: 18px;
  height: 18px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#intro h3 {
  position: relative;
}

#intro .spacer_bottom {
  position: relative;
  width: calc(100% +64px);
  height: calc(100vw * 0.2);
}

#intro .spacer_bottom .pos_ox {
  left: 20%;
  top: 31%;
  width: 12px;
  height: 12px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#intro .spacer_bottom .pos_bns {
  left: 89.5%;
  top: 15%;
  width: 89px;
  height: 96px;
  transform: translateX(-50%) translateY(-50%) rotateZ(25deg);
}

#intro .cont_image {
  margin-left: -32px;
  width: 100vw;
  height: calc(100vw * 0.75);
  background-color: #0002;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#intro .img_nayung-1 {
  background-color: #569989;
  background-image: url(../../img/intro_nayeong.jpg);
}

#intro .img_seobo-1 {
  background-color: #9da79d;
  background-image: url(../../img/intro_seobo.jpg);
}

#intro .img_kimsom-1 {
  background-color: #575c6b;
  background-image: url(../../img/intro_kimsom.jpg);
}

#intro .intro_more {
  position: relative;
  width: 160px;
  height: 48px;
  margin: 40px auto 48px auto;
  background-color:#575c6b00;
  border: 2px solid #575c6bff;
  font-size: 16px;
  color: #575c6bff;
  text-align: center;
  line-height: 48px;
}

/* about us */
#about {
  overflow: hidden;
  position: relative;
  margin-top: -1px;
  width: 100%;
  background-color: #fff;
}

#about .spacer_top {
  position: relative;
  width: calc(100% +64px);
  height: calc(100vw * 0.45);
}

#about .spacer_top .pos_tnd {
  left: 20%;
  top: 72%;
  width: 30px;
  height: 32px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#about .spacer_top .pos_omc {
  left: 75%;
  top: 59%;
  width: 57px;
  height: 48px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#about .spacer_top .pos_bx {
  left: 95%;
  top: 95%;
  width: 18px;
  height: 18px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#about .spacer_bottom {
  position: relative;
  width: calc(100% +64px);
  height: calc(100vw * 0.2);
}

#about .spacer_bottom .pos_ox {
  left: 20%;
  top: 31%;
  width: 12px;
  height: 12px;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

#about .spacer_bottom .pos_bns {
  left: 89.5%;
  top: 15%;
  width: 89px;
  height: 96px;
  transform: translateX(-50%) translateY(-50%) rotateZ(25deg);
}

#about .profile_container {
  position: relative;
  font-size: 0px;
  margin-left: -35px;
  width: calc(100vw + 10px);
}

#about .profile_container .profiles {
  display: inline-block;
  margin: 0 0 3px 3px;
  width: calc((100vw - 3px) / 3);
  height: calc((100vw - 3px) / 3);
  background-color: #0006;
  background-image: url(../../img/profiles/sample.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
