@charset "UTF-8";

/* import fonts */
@font-face {font-family: 'KoreanCUBEG'; src: url("../../fonts/a큐브G.ttf") format("truetype");}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundL.ttf") format("truetype"); font-weight: 200;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundR.ttf") format("truetype"); font-weight: 500;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundB.ttf") format("truetype"); font-weight: 700;}
@font-face {font-family: 'NanumSquareRound'; src: url("../../fonts/NanumSquareRoundEB.ttf") format("truetype"); font-weight: 900;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-ExtraLight.otf"); font-weight: 200;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Regular.otf"); font-weight: 500;}
@font-face {font-family: 'Pangram'; src: url("../../fonts/Pangram-Black.otf"); font-weight: 900;}

/* typography */
.GJx2_logo {
  color: #0000;
  font-family: Pangram;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
  -webkit-text-stroke: 1.5px #053651;
}

.typo_h3 {
  font-family: Pangram;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  padding-top: 172px;
  padding-bottom: 16px;
  color: #EB5C3D
}

.typo_body {
  font-size: 16px;
  line-height: 26px;
}

.typo_lable {
  opacity: 0.5;
  font-size: 13px;
  line-height: 16px;
}

.outline {
  color: #0000;
  -webkit-text-stroke: 1px #EB5C3D;
}

/* wrapper */
.wrapper_full {
  position: relative;
  width: calc(100% - 64px);
  height: 100%;
  margin: 0 auto;
}

/* icons */
.icn_more {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/sys/icn_more.svg);
}

/* contents */
.cont_image {
  margin-left: -32px;
  width: 100vw;
  height: calc(100vw * 0.75);
  background-color: #0002;
  margin-bottom: 16px;
}

/* navigation */
#navigation .nav {
  z-index: 9998;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: #EB5C3D;
  color: #fff;
  transition: 0.5s;
}

#navigation .nav-active {
  width: 100vw;
}

#navigation .nav nav {
  position: absolute;
  top: 176px;
}

#navigation .nav nav .nav_item {
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: Pangram;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #fff0;
  -webkit-text-stroke: 1.5px #ffff;
}

#navigation .nav nav .nav_select {
  color: #ffff;
  -webkit-text-stroke: 1.5px #fff0;
}

#navigation nav .GJx2_logo {
  position: absolute;
  left: calc(100vw - 64px);
  top: calc(100vh - 201px);
  transform: translateX(-100%) translateY(-100%);
  -webkit-text-stroke: 1px #fff;
}

/* header */
.bg_on {
  background-color: #fff;
}

#header {
  z-index: 9999;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
}

#background {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

#header h1 {
  float: left;
  color: #053651;
  font-family: KoreanCUBEG;
  font-size: 20px;
  line-height: 60px;
  transition: 0.5s;
}

#header h1 .title_soon {
  color: #0000;
  -webkit-text-stroke: 1px #053651;
  transition: 0.5s;
}

#header .btn_nav {
  position: relative;
  float: right;
  width: 24px;
  height: 24px;
  margin: 18px -8px 18px 0;
}

#header .btn_nav .btn_nav_comp {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  background-color: #053651;
}

#header .btn_nav .btn_nav_comp_upper {
  top: 36%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}

#header .btn_nav .btn_nav_comp_lower {
  bottom: 36%;
  transform: translateX(-50%) translateY(50%);
  transition: 0.5s;
}

#header .nav-active h1 {
  color: #fff;
}

#header .nav-active h1 .title_soon {
  color: #0000;
  -webkit-text-stroke: 1px #fff;
}

#header .nav-active .btn_nav .btn_nav_comp {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  background-color: #fff;
}

#header .nav-active .btn_nav .btn_nav_comp_upper {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}

#header .nav-active .btn_nav .btn_nav_comp_lower {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(45deg);
}

/* landing */
#landing {
  z-index: -99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 95vh;
  background-image: url(../../img/landing_20-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#landing .GJx2_logo {
  display: inline-block;
  position: absolute;
  right: calc((-67.31px + 24px) / 2);
  bottom: 36%;
  transform: rotateZ(-90deg);
}

#landing .landing_info {
  position: absolute;
  bottom: 48px;
  font-weight: 900;
  color: #053651
}

#landing .landing_info .typo_body {
  line-height: 22px;
}

#landing .icn_more {
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%);
}

/* intro */
#intro {
  position: relative;
  width: 100%;
  margin-top: 100vh;
  background-color: #fff;
}

#intro h3 {
  position: relative;
}

#intro .typo_body {
  color: #053651;
  margin-bottom: 64px;
}

#about {
  position: relative;
  margin-top: -1px;
  width: 100%;
  background-color: #fff;
}
