@charset "UTF-8";

/* import fonts */
@font-face {
  font-family: 'KoreanCUBEG';
  src: url("../../fonts/a큐브G.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url("../../fonts/NanumSquareRoundL.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url("../../fonts/NanumSquareRoundR.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url("../../fonts/NanumSquareRoundB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url("../../fonts/NanumSquareRoundEB.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Pangram';
  src: url("../../fonts/Pangram-ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: 'Pangram';
  src: url("../../fonts/Pangram-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Pangram';
  src: url("../../fonts/Pangram-Black.otf");
  font-weight: 900;
}

/* Typography */
.fill {
  color: #053651;
}

.outline {
  color: #0000;
  -webkit-text-stroke: 3px #053651;
}

/* loading */
.loading .background {
  z-index: 99999;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  background-color: #E64C30;

  animation-duration: 2s;
  animation-name: loading;
  animation-iteration-count: 1;
}

.loading .background .position {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading .background .position .inner_text {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 48px;
  font-weight: 700;
}

@keyframes loading {
  from {
    height: 100vh;
    color: #fff0;
  }

  40% {
    height: 100vh;
    color: #ffff;
  }

  75% {
    height: 100vh;
    color: #ffff;
  }

  to {
    height: 0;
    color: #fff0;
  }
}

/* main */
.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.landing .background {
  position: absolute;
  width: 95vw;
  height: 125vw;
  right: -14vw;
  top: 61%;
  transform: translateY(-50%);

  opacity: 0.9;
  background-image: url("../../img/20_title.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.landing .landing_info {
  position: absolute;
  left: 80px;
  top: 60px;

  color: #053651d0;
  font-weight: 900;
  font-size: 20px;
}

.landing .landing_info .time {
  color: #05365160;
}

.landing .landing_title {
  position: absolute;
  left: 80px;
  bottom: 52%;
  transform: translateY(50%);
}

.landing .landing_title .h1 {
  display: inline;
  font-family: 'KoreanCUBEG';
  font-size: 96px;
  line-height: 111px
}

.landing .GJx2_logo {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: rotateZ(-90deg);
  transition: 0.5s;

  color: #0000;
  -webkit-text-stroke: 2px #053651;
  font-size: 28px;
  letter-spacing: -0.3px;
  font-family: 'Pangram';
  font-weight: 900;
}

.landing .GJx2_logo:hover {
  right: 50px;

  color: #053651;
  -webkit-text-stroke: 2px #0000;
}
